server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  web:
    resources:
      add-mappings: false
  datasource:
    url: 'jdbc:mariadb://localhost:3306/identity_service'
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signer-key: "f7rOO1YzHGfiblII7V/tOw5gjTldZd7zivb2XRgLZ361mtbqNhVXEK0QfKPOAQ5/"
  valid-duration: 900 # in seconds  # 15 mins
  refreshable-duration: 86400 # in seconds  # 1 day